<div class="container pt-3">
  <ng-container *ngIf="apod; else loading">
    <!-- Astronomy Picture of the Day -->
    <div class="row pb-3 text-center">
      <div class="col">
        <h1 class="title">Astronomy Picture of the Day</h1>
      </div>
    </div>
    <ng-container *ngFor="let post of apod">
      <div class="row justify-content-center pb-2">
        <div class="col-auto">
          <app-post [data]="post" (likedPost)="postLiked($event)"></app-post>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <div class="row justify-content-center">
      <div class="col-auto">
        <app-flower-spinner
          [animationDuration]="1500"
          [size]="70"
          [color]="'#ff1d5e'"
        ></app-flower-spinner>
      </div>
    </div>
  </ng-template>
</div>
