/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

// Colors
$space-cadet: #2B2D42;
$manatee: #8D99AE;
$alice-blue: #EDF2F4;
$imperial-red: #EF233C;
$crimson: #D80032;
$cyan: #27FFCD;

// Global
body {
  background-color: $space-cadet;
}
