/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

// Colors
$space-cadet: #2b2d42;
$manatee: #8d99ae;
$alice-blue: #edf2f4;
$imperial-red: #ef233c;
$crimson: #d80032;
$cyan: #27ffcd;

// Global
body {
  background-color: $space-cadet;
}
