/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

// Colors
$midnight-blue: #2c3e50;
$clouds: #ecf0f1;

// Global
body {
  background-color: $midnight-blue;
}
